@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
     box-sizing: border-box !important;	
     margin: 0; 
}

html {
     scroll-behavior: smooth;
}

body {
     font-family: 'Arial', arial-bold-MS;
      width: 100vw; 
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

/* ALGEMENE STYLING */
button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

/* LOADING STATE */
.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/* NAVIGATIE */
.navigation.navbar {
     float: right;
}

.navbar-nav {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
}

.navigation {
     display: flex;
     flex-direction: row;
     justify-content: baseline;
     vertical-align: middle;
     justify-content: space-between;
}

.navigation.navbar-dark {
     display: flex !important;
     flex-direction: row;
     vertical-align: middle;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 1rem 1rem 1rem 1rem;
     color: #271706;
     font-size: 1rem;
     line-height: 1rem;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #FF9E14;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #FF9E14;
}

.socialMedia button a img {
     width: 1.5rem;
     height: 1.5rem;
     margin: auto ;
}

.socialMedia button {
     padding-right: 1rem;
     background: none;
}

.nav-item {
	 margin-top: 1.3rem;
}	

.socialMedia button a {
     background: none;
}

.navImg {
     height: 4rem;
     display: inline;
}

.navImgSmall {
     display: none;
}

.socialMedia {
     margin: 1rem 1rem; 
}

.linkSocialBlock {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     vertical-align: middle;
}

/* HEADER */
.header {
     background: #ffffff;
     position: fixed;
	top: 0;
	clear:both;
	z-index:1;
	height: 4rem;
     display: block;
     min-height: 4rem;
	width: 100%;
     min-width: 100vw;
}

.logo {
     display: inline-block;
}

.frikanomicsLogoBlock {
     display: block;
     align-items: center;
     max-width: 30vw;
     margin: auto;
}

.frikanomicsLogo {
     width: 30vw;
     margin: 5rem 0 0;
}

.banner_main {
     background: #271705;
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

.howToBuyLink {
	padding: 0 0 2rem 0;
	color: #FFFFFF;
     max-width: 31vw;
     margin: auto;
}

/* HOE TE KOPEN  */
#HoeTeKopen {
     margin: 10rem 0 0 0;
}

/* FOOTER */

.footer {
     background: #ffffff;
     margin: auto;
     width: 100%;
     text-align: center;
}

.footer p{
     font-weight: bold;
     font-size: 1rem;
     padding: 1rem 0 0 0;
     color: #271705;

}

.socialMediaBlockFooter{
     flex-direction: row;
     width: inherit;
}

.socialMediaBlockFooter button {
     background: none;
     border: none;
     margin: 1rem;
}

.socialMediaBlockFooter button a img{
     width: 2rem;
}

/* STYLING TEXT TITLE  */
.subtitle {
     color: #FF9E14;
     font-weight: bold;
     font-size: 2rem;
     margin: 4rem 0 0 0;
}

.normalText {
     color: #ffffff;
     font-weight: lighter;
     font-size: 1rem;
}
.buttonBlock {
     display: flex;
     flex-direction: column;
	padding: 0rem 0 5rem;
     max-width: 50%;
	margin: inherit;
	
}

/* INTRO */

.buyButton {
     background-color: #FF9E14;
     padding: 1rem;
     border-radius: 15px;
     color: #ffffff;
     font-weight: normal;
     font-size: 1rem;
     margin: 2rem 0 0;
}

/* FRIKONOMICS */

.frikanomicsblock {
     max-width: 50vw;
     margin: auto;
     text-align: center;
	padding: 0 0 3rem 1rem;
}

.frikanomicsLogoOrangeBlock {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
    width: 20vw;
    margin: auto;
    padding: 5rem 0 0 0;
}

.frikanomicsLogoOrange {
     margin: 0 1rem 1rem;
}

.frikanomicsLogoOrange:nth-last-of-type(1) {
     width: 2rem;
     height: 2rem;
}

.frikanomicsLogoOrange:nth-last-of-type(2) {
     width: 4rem;
     height: 4rem;
}

.frikanomicsLogoOrange:nth-last-of-type(3) {
     width: 6rem;
     height: 6rem;
}

/* INFOBLOCK  */
.infoBlockFrik {
     max-width: 100%;
     margin: 0 auto;
     text-align: center;
	 padding: 2rem;
}

.infoBlockTitle {
     color: #FF9E14;
     font-weight: bold;
     font-size: 1.5rem;
}

.infoBlockText {
     color: #ffffff;
     font-weight: normal;
     font-size: 1rem;
}

.infoBlockAmount {
     color:#FF9E14;
     font-weight: bold;
     font-size: 1.5rem;
     border: 1px solid #FF9E14;
     border-radius: 15px;
     padding: 1rem;
     max-width: 30vw;
     margin: 1rem auto;
}

/* ROADMAP  */
#Roadmap {
     background-color: #ffffff;
     max-width: 100vw;
     margin: auto;
     text-align: center;
     padding: 5rem 0 5rem 0
}

.roadmapImage {
     width: 50vw;
}

/* TEXTBLOKKEN */
.textBlock {
     margin: 3rem 0;
     align-items: flex-start;
     text-align: start;
}

.textBlockTitle {
     font-weight: bold;
     color: #ffffff;
     font-size: 1.5rem;
}

.textBlockText {
     font-weight: bold;
     color: #FF9E14;
     font-size: 1rem;
     line-height: normal
}

.textBlockTextLink {
     font-weight: bold;
     color: #ffffff;
     font-size: 1rem;
     text-decoration: underline;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px)  {
     .EnglishButton {
          display: none;
     }

     .frikanomicsLogoBlock {
          max-width: 40vw;
     }

     .frikanomicsLogo {
          width: 40vw;
          margin: 5rem auto;
     }

     .buttonBlock {
          max-width: 55%;
     }

     .frikanomicsblock {
          max-width: 60vw;
     }

     .roadmapImage {
          width: 70vw;
     }

     .textBlockTitle {
          font-size: 1.2rem;   
     }
}

@media screen and (max-width: 800px) {
     .navbar-nav {
          margin: 0 1rem;
     }

     .frikanomicsLogoBlock {
          max-width: 50vw;
     }
 
     .frikanomicsLogo {
          width: 50vw;
          margin: 5rem auto;
     }

     .infoBlockAmount {
          font-size: 1rem;
     }
	 
     .socialMedia {
	     display: none	 
	}	 

     .roadmapImage {
          width: 90vw;
     }

     .textBlockTitle {
          font-size: 1rem;   
     }

     .howToBuyLink {
          max-width: 40vw;
     }

}

@media screen and (max-width: 600px) {
     .navImg {
          display: none;
     }

     .navImgSmall {
          display: block;
          width: 3rem;
          margin: 0.5rem 1rem;
     }
     .navigation.navbar-dark .navbar-nav .nav-link {
          padding: 0.5em;
          font-size: 0.9rem;
     }

    .frikanomicsLogoBlock {
         max-width: 60vw;
    }

    .frikanomicsLogo {
          width: 60vw;
          margin: 5rem auto;
    }

    .frikanomicsblock {
         max-width: 80vw;
    }

    .infoBlockAmount {
         max-width: 50vw;
    }

    .roadmapImage {
         width: 95%;;
    }

    .howToBuyLink {
         max-width: 50vw;
    }

    .socialMediaBlockFooter button a img {
         width: 1.5rem;
         height: 1.5rem;
    }

    .frikanomicsLogoOrange:nth-last-of-type(1) {
     width: 2rem;
     height: 2rem;
}

     .frikanomicsLogoOrange:nth-last-of-type(2) {
          width: 3.5rem;
          height: 3.5rem;
     }

     .frikanomicsLogoOrange:nth-last-of-type(3) {
          width: 5rem;
          height: 5rem;
     }

}

@media screen and (max-width: 480px) {
     .subtitle {
          margin: 0;
     }
	 .infoBlockAmount {
          font-size: 1rem;
          max-width: 100%;  
     }

     .buttonBlock {
          max-width: 70%;
     }

	 .buyButton {
            padding: 0.5rem ;
	 }

	 .navImg {
	     display: none;
	 }

      .howToBuyLink {
          max-width: 70vw;
     }
}


@media screen and (max-width: 375px) {
     .navbar-nav {
          min-width: 100vw;
          margin: auto;
     }

     .navImgSmall {
         display: none;
     }

     .subtitle {
          font-size: 1.5rem;

     }
     
     .frikanomicsLogoOrange:nth-last-of-type(1) {
          width: 2rem;
          height: 2rem;
     }
     
     .frikanomicsLogoOrange:nth-last-of-type(2) {
          width: 3rem;
          height: 3rem;
     }
     
     .frikanomicsLogoOrange:nth-last-of-type(3) {
          width: 4rem;
          height: 4rem;
     }
     
     .frikanomicsblock {
          padding: 0;
     }

     .textBlockText {
          font-size: 0.8rem;
          line-height: normal;
     }

     .socialMediaBlockFooter button {
          margin: 0.5rem;
     }
	 /* .buyButton {
		  margin: 1rem -3rem 0;
	 }
	 
	 .infoBlockAmount {
          font-size: 1rem;
          max-width: 100%;
		  
     } */
	
}






